/* Centering styles, will be removed later */
html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.centered-huge-p {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4em;
    font-weight: 500;
}

.brand-gradient {
    background: linear-gradient(45deg, #25f5f5, #AD22CF);
    color: transparent;
    background-clip: text;
}